img {
    width: 400px;
    height: 600px;
}


img.rss {
    width: 400px;
    height: 400px;
}

.row.lista > div:nth-child(odd) {
    background-color: rgb(243, 150, 139); /* Cambia #color1 por el color que quieras para las noticias impares */
}

.row.lista > div:hover {
    background-color: rgb(202, 202, 202); /* Cambia #color3 por el color que quieras cuando el rat贸n pasa por encima */
}

body{
    background-color: rgb(248, 204, 199);

}


.nav-item > a:hover {
    background-color: rgb(202, 202, 202); /* Cambia #color3 por el color que quieras cuando el rat贸n pasa por encima */
}

.navbar-nav> a:hover {
    background-color: rgb(202, 202, 202); /* Cambia #color3 por el color que quieras cuando el rat贸n pasa por encima */
}

img.logo{
    width: auto;
    height: auto;
}

p{
    font-size: large;
}

.dropdown-item a:hover{

    background-color: rgb(122, 13, 13); /* Cambia #color3 por el color que quieras cuando el rat贸n pasa por encima */

}

